*{
  margin: 0;
  padding: 0;
}

html,
body{
  height: 100%;
  width: 100%;
}


.light{
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

}
.dark{
  background-color: darkmagenta;
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav2{
  display: flex;
  gap: 30px;
}