* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
html,
body{
  height: 100%;
  width: 100%;
}
input{
  margin: 10px;
  padding: 10px;
}
.box{
  height: 200px;
  width: 200px;
  background-color:crimson;
}
.page1{
  height: 100vh;
  width: 100%;
  background-color: aqua;
}
.page2{
  height: 100vh;
  width: 100%;
  background-color:azure;
}
.page3{
  height: 100vh;
  width: 100%;
  background-color: blanchedalmond;
}