*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 50px;
  text-decoration: underline;
  white-space:nowrap;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: rgba(33, 238, 238, 0.837);
}

.nav div{
  display: flex;
  align-items: center;
  gap: 40px;
}

