* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
 body{
  height: 100%;
  width: 100%;
}
button{
  padding: 10px 20px;
  margin: 20px;
  background-color: aqua;
  color: black;
}

h1{
  padding: 10px 80px;
  border-radius: 5px;
  margin: 10px;
  background-color:antiquewhite;
  width: fit-content;
  font-size: 100px;
}